<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Object Model</title>
</head>
<body>
    <h2>Welcome to our website</h2>
    <!-- Inner html -->
    <p id="demo"></p>

    <!-- button on click event -->
    <button id="funcOnAlert">ClickMe</button>

    <hr/>
    <br/>
    <!-- form-->
    <form onsubmit="alert('Are you sure! will you submit the form?');return false">
        <input 
            type="text"
            name="name"
            placeholder="Enter your name please"
         />
        <button type="submit">save</button>
    </form>

    <!-- Script -->
    <script src="index.js"></script>
</body>
</html>